<p id="notice"><%= notice %></p>

<h1>Job</h1>

<table>
  <thead>
    <tr>
      <th>Source: <%= @job.source %> </th>   
    </tr>
  </thead>

  <tbody>
      <tr>
        <td>ID: <%= @job.id %></td>
      </tr>
      <% @job.fields.each do |field| %>
        <tr>
          <td>Field: <%= field.name %></td>
        </tr>      
      <% end %>

      <% @job.formats.each do |format| %>
        <tr>
          <td>Format: <%= format.name %></td>
        </tr>      
      <% end %>

  </tbody>
</table>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
